$--bg-color-dark: #171717;
$--bg-color-semiDark: #1f1f1f;
$--bg-color-grey: #292929;
$--bg-color-green: #6ccc6f;

.NewDialog{
  left: 0;
  top: 0;
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,.5);
  backdrop-filter: blur(5px);
  .wrapper{
    box-sizing: border-box;
    width: 100%;
    height: fit-content;
    max-width: 500px;
    max-height: 500px;
    background-color: $--bg-color-semiDark;
    border-radius: 5px;
    padding: 20px;
    form{
      display: flex;
      flex-direction: column;
      gap: 20px;
      .heading{
        font-size: 20px;
        font-weight: 600;
      }
      .fields{
        display: flex;
        flex-direction: column;
        gap: 10px;
        input,textarea{
          border-radius: 5px;
          background-color: $--bg-color-grey;
          border: 0;
          padding: 5px 10px;
          color: white;
          resize: none;
          box-shadow: 0px 0px 6px 0px rgba(255, 255, 255, 0.34);
        }
      }
        button{
          background-color: $--bg-color-green;
          border: 0;
          border-radius: 5px;
          padding: 5px 10px;
          cursor: pointer;
        }
    }
  }
}
